<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>Label</key>
<string>io.mrz.hkswitch.{{.Description}}</string>

<key>RunAtLoad</key>
<true/>

{{ if .Env }}<key>EnvironmentVariables</key>
<dict>{{ range .Env }}
<key>{{.Name}}</key>
<string><![CDATA[{{.Value}}]]></string>{{ end }}
</dict>{{ end }}

<key>WorkingDirectory</key>
<string>{{ .WorkingDir }}</string>

<key>ProgramArguments</key>
<array>
{{ range .Command }}<string>{{ . }}</string>{{ end }}
</array>

</dict>
</plist>
